

#root {
    -fx-background-color: #2b2f38;
    -fx-padding: 15px;
}



#gamegrid {
    -fx-hgap: 3px;
    -fx-vgap: 3px;
    -fx-padding: 10px;

}

#cell, #bomb {
    -fx-background-color: linear-gradient(#cfd8dc, #b0bec5);
    -fx-border-color: #546e7a;
    -fx-border-width: 1px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-cursor: hand;
    -fx-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

}

#cell:hover, #bomb:hover {
    -fx-background-color: linear-gradient(#e5fafa, #7be0ec);
}

#cell:pressed {
    -fx-background-color: #90caf9;
}



#cell:disabled {
    -fx-background-color: #eceff1;
    -fx-text-fill: #37474f;
    -fx-opacity: 1.0;
}




#bomb:disabled {
    -fx-background-color: linear-gradient(#fae5e5, #f32525);
    -fx-text-fill: #000000;
    -fx-opacity: 1.0;
}



#resetButton {
    -fx-background-color: linear-gradient(#ffb74d, #f57c00);
    -fx-text-fill: #212121;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-cursor: hand;
}

#resetButton:hover {
    -fx-background-color: linear-gradient(#ffd54f, #ff9800);
    -fx-cursor: hand;
    -fx-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#resetButton:pressed {
    -fx-background-color: #ef6c00;
}



#mineCounterLabel {
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

#timeLabel {
    -fx-text-fill: #81d4fa;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

#winnerLabel {
    -fx-font-size: 50px, bold;

    -fx-text-fill: #00d5ff;
    -fx-effect: dropshadow(gaussian, rgba(0,210,255,0.95), 22, 0.55, 0, 0);
}



.button {
    -fx-alignment: center;
}
