#settings-anchorpane {
    -fx-background-color: linear-gradient(to bottom right, rgba(98, 183, 44, 0.85), rgba(16, 16, 16, 0.9));
    -fx-padding: 15px;
}
#settings-anchorpane .choice-box-styled {

    -fx-font-size: 15px;
    -fx-font-weight: bold;


    -fx-background-color: linear-gradient(to bottom right, #F57C00FF, #E6F83E73);
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(24, 24, 24, 0.6), 18, 0.45, 0.4, 0.6);

    -fx-padding: 5 10;
    -fx-pref-width: 185px;
}

#settings-anchorpane .button-style{
    -fx-background-color: linear-gradient(to bottom left, #fa6c07, #4d692f);
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #090909;
    -fx-effect: dropshadow(gaussian, rgba(24, 24, 24, 0.6), 18, 0.45, 0.4, 0.6);

}
#settings-anchorpane .choice-box-styled:hover, #settings-anchorpane .button-style:hover {
    -fx-effect: dropshadow(gaussian, rgba(110, 1, 1, 0.9), 26, 0.65, 0, 0);
    -fx-cursor: hand;
}